
.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
}
.dashboard-stat:after,
.dashboard-stat:before {
    content: " ";
    display: table
}
.dashboard-stat:after {
    clear: both
}
.portlet .dashboard-stat:last-child {
    margin-bottom: 0
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px
}
.dashboard-stat .visual>i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px
}
.dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 15px;
    letter-spacing: -1px;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 300
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300
}
.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: .7;
    filter: alpha(opacity=70)
}
.dashboard-stat .more:hover {
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90)
}
.dashboard-stat .more>i {
    display: inline-block;
    margin-top: 1px;
    float: right
}
.dashboard-stat.grey {
    background-color: #E5E5E5
}
.dashboard-stat.grey.dashboard-stat-light:hover {
    background-color: #dbdbdb
}
.dashboard-stat.grey .visual>i {
    color: #333;
    opacity: .1;
    filter: alpha(opacity=10)
}
.dashboard-stat.grey .details .number {
    color: #333
}
.dashboard-stat.grey .details .desc {
    color: #333;
    opacity: 1;
    filter: alpha(opacity=100)
}
.dashboard-stat.grey .more {
    color: #333;
    background-color: #dbdbdb
}
.portlet.light.portlet-fit {
    padding: 0
}
.portlet.light.portlet-fit>.portlet-title {
    padding: 15px 20px 10px
}
.portlet.light.portlet-fit>.portlet-body {
    padding: 10px 20px 20px
}
.portlet.light.portlet-fit.portlet-form>.portlet-body {
    padding: 0
}
.portlet.light.portlet-fit.portlet-form>.portlet-body .form-actions {
    background: 0 0
}
.portlet.box.white>.portlet-title,
.portlet.white,
.portlet>.portlet-body.white {
    background-color: #fff
}
.portlet.light.portlet-datatable.portlet-fit>.portlet-body {
    padding-top: 10px;
    padding-bottom: 25px
}
.bars,
.chart,
.pie {
    overflow: hidden;
    height: 300px;
    width: 100%;
    font-size: 14px
}
.portlet.light>.portlet-title>.actions {
    padding: 6px 0 14px
}
.portlet.light>.portlet-title>.actions .btn-default {
    color: #666
}
.portlet.light>.portlet-title>.actions .btn-icon-only {
    height: 27px;
    width: 27px
}
.portlet.light>.portlet-title>.actions .dropdown-menu li>a {
    color: #555
}
.portlet>.portlet-title>.actions>.btn,
.portlet>.portlet-title>.actions>.btn-group>.btn,
.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm,
.portlet>.portlet-title>.actions>.btn.btn-sm {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5;
    border: 2px solid #53575b;
    margin-left: 4px;
}
.btn.btn-outline.dark.active,
.btn.btn-outline.dark:active,
.btn.btn-outline.dark:active:focus,
.btn.btn-outline.dark:active:hover,
.btn.btn-outline.dark:focus,
.btn.btn-outline.dark:hover {
    border-color: #2f353b;
    color: #FFF;
    background-color: #2f353b
}
.portlet>.portlet-title>.actions {
    float: right;
    display: inline-block;
    padding: 6px 0
}
.btn-circle {
    border-radius: 25px!important;
    overflow: hidden
}
.btn-circle-right {
    border-radius: 0 25px 25px 0!important
}
.btn-circle-left {
    border-radius: 25px 0 0 25px!important
}
.btn-circle-bottom {
    border-radius: 0 0 25px 25px!important
}
.btn-circle-top {
    border-radius: 25px 25px 0 0!important
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important
}
.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5
}
.portlet.light.bg-inverse {
    background: #f1f4f7
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px
}
.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 10px 0
}
.portlet.light>.portlet-title>.caption>.caption-subject {
    font-size: 16px
}
.portlet.light>.portlet-title>.caption>i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px
}
.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0
}
.portlet.light.portlet-fit>.portlet-title {
    padding: 15px 20px 10px
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: 45px
}
.portlet.light>.portlet-hei75 {
    padding: 0;
    min-height: 75px
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff
}
.portlet>.portlet-title>.nav-tabs>li.active>a,
.portlet>.portlet-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0
}
.mt-comments .mt-comment {
    padding: 10px;
    margin: 0 0 10px
}
.mt-comments .mt-comment .mt-comment-img {
    width: 55px;
    float: left
}
.mt-comments .mt-comment .mt-comment-img>img {
	width: 100%;
    border-radius: 50%!important
}
.mt-comments .mt-comment .mt-comment-body {
    padding-left: 10px;
    position: relative;
    overflow: hidden
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-info:after,
.mt-comments .mt-comment .mt-comment-body .mt-comment-info:before {
    content: " ";
    display: table
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-info:after {
    clear: both
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-info .mt-comment-author {
    display: inline-block;
    font-family:Dosis,arial,sans-serif;
    float: left;
    text-transform: uppercase;
    margin: 0 0 10px;
    color: #060606;
    letter-spacing: 5px;
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-info .mt-comment-date {
    display: inline-block;
    float: right;
    font-size: 11px;
    margin: 0;
    color: #BABABA
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-text {
    color: #999;
    line-height: 1.3em;
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details {
    margin: 10px 0 0
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status {
    text-transform: uppercase;
    float: left
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status.mt-comment-status-pending {
    color: #B8C0F5
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status.mt-comment-status-approved {
    color: #6BD873
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status.mt-comment-status-rejected {
    color: red
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions>li {
    float: left;
    padding: 0 5px;
    margin: 0
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions>li>a {
    text-transform: uppercase;
    color: #999
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions>li>a:hover {
    color: #666;
    text-decoration: none
}
.mt-comments .mt-comment:hover {
    background: #f9f9f9
}
.mt-comments .mt-comment:hover .mt-comment-body .mt-comment-details .mt-comment-actions {
    display: inline-block
}
.portlet>.portlet-title>.nav-tabs {
    background: 0 0;
    margin: 1px 0 0;
    float: right;
    display: inline-block;
    border: 0
}
.portlet>.portlet-title>.nav-tabs>li {
    background: 0 0;
    margin: 0;
    border: 0;
}
.portlet>.portlet-title>.nav-tabs>li a{
    text-decoration: none !important;
}
.portlet>.portlet-body p,
.table .btn {
    margin-top: 0
}
.portlet>.portlet-title>.nav-tabs>li.active>a,
.portlet>.portlet-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0;
    text-decoration: none !important;
}